.calender {
    display: block;
    min-height: 100px;
    padding: 10px 10px;
}

.calender a {
    display: flex;
    align-items: center;
    gap: 8px;
  
}

.calender a:not(:last-child) {
    margin-bottom: 10px;
}